body, html {
     padding-top: 1.5em;
     padding-left: 3em;
     font-size: 16px;
}

.uploadArea  {
    margin-top: 2em;
}

h1 {
    margin-left: -0.5em;
    margin-bottom: 1em;
}

.resultLink {
    margin-top: 2em;
}

a {
    font-weight: bold;
}

.example {
    font-style: italic;
}

.uploadArea {
    padding-left: 1em;
}

h4 {
    margin-bottom: 0em;
}

.button {
    margin-top: 1em;
}

.zusatzInfos {
    margin-top: 5em;
}